<!--Carousel virgie-->
<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicateur -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!--  slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <a href="file:///home/virgie/projet_angular/index.html#!/xboxGame"><img src="images/prom.png" alt="Mass effect" width="500px" height="345"></a>
        <div class="carousel-caption">
          <h2>Mass Effect Andromeda</h2>
          <p>Des environnements somptueux et une galaxie à découvrir : BioWare vous présente la nouvelle exploration spatiale</p>
        </div>
      </div>
      <div class="item">
        <a href="file:///home/virgie/projet_angular/index.html#!/nintendoGames"><img src="images/leg1.jpg" alt="Lego" width="500px" height="345"></a>
        <div class="carousel-caption">
          <h2>Lego City undercover</h2>
          <p>Traquez des criminels notoires dans l'aventure bourrée d'humour de LEGO® City Undercover.</p>
        </div>
      </div>
      <div class="item">
          <a href="file:///home/virgie/projet_angular/index.html#!/playstationGames"><img src="images/final1.jpg" alt="Chania" width="500px" height="345"></a>
        <div class="carousel-caption">
          <h2>Final Fantasy XII the zodiac age</h2>
          <p>En haute définition pour la première fois, ce classique revient avec un gameplay amélioré.</p>
        </div>
      </div>
      <div class="item">
        <a href="file:///home/virgie/projet_angular/index.html#!/pcAccesories"><img src="images/game.png" alt="Chania" width="500px" height="345"></a>
        <div class="carousel-caption">
          <h2>Matos Gaming</h2>
          <p>Les bons plans Gaming de la semaine du 9 au 20 avril 2017 Profitez en!!</p>
        </div>
      </div>
    </div>
    <!-- fleche -->
    <a class="left carousel-control" href="" ng-click="slide('prev')" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="" ng-click="slide('next')" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
