<!doctype html>
<html ng-app="myRoute">
    <head>
        <meta charset="utf-8">
        <title>Projet e-commerce : angular</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javaScript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
        <script src="https://use.fontawesome.com/a85a823305.js"></script>
        <link href="style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">WebGame</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Accueil</a></li>
                        <!--Menu XBOX one-->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">XBOX ONE <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#!/xboxGame">Jeux</a></li>
                                <li><a href="#!/xboxAccesories">accessoires</a></li>
                            </ul>
                        </li>
                        <!--Menu PC-->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" >PC <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#!/pcGames">Jeux</a></li>
                                <li><a href="#!/pcAccesories">accessoires</a></li>
                            </ul>
                        </li>
                        <!--Menu PS4-->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Playstation 4<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#!/playstationGames">Jeux</a></li>
                                <li><a href="#!/playstationAccesories">Accessoires</a></li>
                            </ul>
                        </li>
                        <!--Menu Nintendo DS-->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Nintendo Switch <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#!/nintendoGames">Jeux</a></li>
                                <li><a href="#!/nintendoAccesories">accessoires</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a data-toggle="modal" data-target="#signIn"><span class="glyphicon glyphicon-user"></span> Inscription </a></li>
                        <li><a data-toggle="modal" data-target="#signUp"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
                        <li><a data-toggle="modal" data-target="#basket"><span class="glyphicon glyphicon-shopping-cart"></span> Store </a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="row" ng-view></div>
        
        <!-- la partie de Noemi -->
         <!-- Modal -->
         <div class="modal fade" id="signIn" role="dialog">
            <div class="modal-dialog">
               <!-- Modal content-->
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">Inscription</h4>
                  </div>
                  <div class="modal-body">
                     <div class="row">
                        <form>
                           <div class="row">
                              <div class="col-sm-offset-1 col-sm-3 text-center">
                                 <label for="pseudo">Pseudo :</label>
                              </div>
                              <div class="col-sm-offset-0 col-sm-4 col-xs-offset-2">
                                 <input type="text" name="pseudo" placeholder="" id="pseudo">
                              </div>
                              <div class="col-xs-offset-5 col-sm-offset-0 col-sm-1 pseudo">
                                 <span class="glyphicon glyphicon-ok"></span>
                                 <span class="glyphicon glyphicon-remove"></span>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-offset-1 col-sm-3 text-center">
                                 <label for="age">Age :</label>
                              </div>
                              <div class="col-sm-offset-0 col-sm-4 col-xs-offset-2">
                                 <input type="text" name="age" placeholder="" id="age">
                              </div>
                              <div class="col-xs-offset-5 col-sm-offset-0 col-sm-1 age">
                                 <span class="glyphicon glyphicon-ok"></span>
                                 <span class="glyphicon glyphicon-remove"></span>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-offset-1 col-sm-3 text-center">
                                 <label for="address">Adresse :</label>
                              </div>
                              <div class="col-sm-offset-0 col-sm-4 col-xs-offset-2">
                                 <input type="text" name="address" placeholder="" id="address">
                              </div>
                              <div class="col-xs-offset-5 col-sm-offset-0 col-sm-1 address">
                                 <span class="glyphicon glyphicon-ok"></span>
                                 <span class="glyphicon glyphicon-remove"></span>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-offset-1 col-sm-3 text-center">
                                 <label for="email">E-mail :</label>
                              </div>
                              <div class="col-sm-offset-0 col-sm-4 col-xs-offset-2">
                                 <input type="text" name="email" placeholder="" id="email">
                              </div>
                              <div class="col-xs-offset-5 col-sm-offset-0 col-sm-1 email">
                                 <span class="glyphicon glyphicon-ok"></span>
                                 <span class="glyphicon glyphicon-remove"></span>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-offset-1 col-sm-3 text-center">
                                 <label for="password">Mot de passe :</label>
                              </div>
                              <div class="col-sm-offset-0 col-sm-4 col-xs-offset-2">
                                 <input type="password" pattern=".{4,}" name="password" id="password">
                              </div>
                              <div class="col-xs-offset-5 col-sm-offset-0 col-sm-1 password">
                                 <span class="glyphicon glyphicon-ok"></span>
                                 <span class="glyphicon glyphicon-remove"></span>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-offset-1 col-sm-3 text-center">
                                 <label for="confirm">Confirmation :</label>
                              </div>
                              <div class="col-sm-offset-0 col-sm-4 col-xs-offset-2">
                                 <input type="password" pattern=".{4,}" name="confirm" id="confirm">
                              </div>
                              <div class="col-xs-offset-5 col-sm-offset-0 col-sm-1 confirm">
                                 <span class="glyphicon glyphicon-ok"></span>
                                 <span class="glyphicon glyphicon-remove"></span>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary">Ok</button>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal fade" id="signUp" role="dialog">
            <div class="modal-dialog">
               <!-- Modal content-->
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">Connexion</h4>
                  </div>
                  <div class="modal-body">
                     <div class="row">
                        <form>
                           <div class="row">
                              <div class="col-sm-offset-1 col-sm-3 text-center">
                                 <label for="pseudo">Pseudo :</label>
                              </div>
                              <div class="col-sm-offset-0 col-sm-4 col-xs-offset-2">
                                 <input type="text" name="pseudoUp" placeholder="" id="pseudoUp">
                              </div>
                              <div class="col-xs-offset-5 col-sm-offset-0 col-sm-1 pseudoUp">
                                 <span class="glyphicon glyphicon-ok"></span>
                                 <span class="glyphicon glyphicon-remove"></span>
                              </div>
                           </div>
                           <div class="row">
                              <div class="col-sm-offset-1 col-sm-3 text-center">
                                 <label for="passwordUp">Mot de passe :</label>
                              </div>
                              <div class="col-sm-offset-0 col-sm-4 col-xs-offset-2">
                                 <input type="password" pattern=".{4,}" name="passwordUp" id="passwordUp">
                              </div>
                              <div class="col-xs-offset-5 col-sm-offset-0 col-sm-1 passwordUp">
                                 <span class="glyphicon glyphicon-ok"></span>
                                 <span class="glyphicon glyphicon-remove"></span>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary">Ok</button>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal fade" id="basket" role="dialog">
            <div class="modal-dialog">
               <!-- Modal content-->
               <div class="modal-content">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">Panier</h4>
                  </div>
                  <div class="modal-body">
                      <div class="row">
                             <div class="col-lg-3 text-center">
                                <label for="item">Article</label>
                             </div>
                             <div class="col-lg-3 text-center">
                                <label for="console">Console</label>
                             </div>
                             <div class="col-lg-2 text-center">
                                <label for="quantity">Quantité</label>
                             </div>
                             <div class="col-lg-4 text-center">
                                <label for="price">Prix</label>
                             </div>
                      </div>
                      <div ng-repeat="newArticle in newArticles" class="row">
                            <div class="col-lg-3 text-center">
                                 <p>{{newArticle.game}}<p>
                            </div>
                            <div class="col-lg-3 text-center">
                                <p>{{newArticle.console}}<p>
                            </div>
                            <div class="col-lg-2 text-center">
                            </div>
                            <div class="col-lg-4 text-center">
                                <p>{{newArticle.price}}<p>
                            </div>
                            <div class="col-lg-3 text-center">
                                 <p>{{newArticle.price | currency: "€"}}
                                    <button type="button" class="btn btn-default btn-sm" name="trashButton" id="trash" ng-click="remove($index)">
                                       <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                 </p>
                            </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     <button type="button" class="btn btn-primary">Ok</button>
                  </div>
               </div>
            </div>
         </div>

        <!--partie corentin-->
        <div class="container-fluid">
            <footer class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <p id="newsletter">Newsletter :</p>
                    <div class="input-group">
                        <input class="form-control" type="text" name="newsletter" value="" placeholder="Inscrivez-vous"/>
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">Valider</button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="row">
                        <h3 class="col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-12 col-md-10 col-lg-10">Arghhhhhhhh :</h3>
                        <p class="col-md-offset-3 col-lg-offset-3 col-xs-12 col-sm-12 col-md-10 col-lg-10">blabla bli blubou ba ba bambang</p>
                        <p class="col-md-offset-3 col-lg-offset-3 col-xs-12 col-sm-12 col-md-10 col-lg-10">blabla bli blubou ba ba bambang</p>
                        <p class="col-md-offset-3 col-lg-offset-3 col-xs-12 col-sm-12 col-md-10 col-lg-10">blabla bli blubou ba ba bambang</p>
                        <p class="col-md-offset-3 col-lg-offset-3 col-xs-12 col-sm-12 col-md-10 col-lg-10">blabla bli blubou ba ba bambang</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="row">
                        <h3 class="col-md-offset-7 col-lg-offset-7 col-xs-12 col-sm-12 col-md-5 col-lg-5">Mentions légales :</h3>
                        <p class="col-md-offset-7 col-lg-offset-7 col-xs-12 col-sm-12 col-md-5 col-lg-5">Virgine & co</p>
                        <p class="col-md-offset-7 col-lg-offset-7 col-xs-12 col-sm-12 col-md-5 col-lg-5">11 rue de la morue</p>
                        <p class="col-md-offset-7 col-lg-offset-7 col-xs-12 col-sm-12 col-md-5 col-lg-5">60400 Noyon</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-offset-4 col-xs-12 col-sm-12 col-md-12 col-lg-8">
                        <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></button>
                        <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-twitter"></i></button>
                        <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-linkedin"></i></button>
                    </div>
                </div>
                <hr>
                <hr>
            </footer>
        </div>
        <script src="https://code.angularjs.org/1.6.3/angular-route.js"></script>
        <script src="script.js" type="text/javascript"></script>
    </body>
</html>
